{{page-title "Index"}}
<div>
<select id="monthDropdown" {{on "change" this.navigateToCalendar}}>
  <option value="">Select a month</option>
  {{#each this.months as |month|}}
    <option value={{month.name}} data-days={{month.days}}>{{month.name}}</option>
  {{/each}}
</select>
</div>
{{outlet}}
